<ion-view ng-controller="videoViewController">
    <style>
        #videoContainer {
            background-color: #000;
            width: 100%;
            flex-grow: 1;
        }

        .vertical-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .buttons {
            display: flex;
            z-index: 3;
            background-color: rgba(84, 87, 87, 0.6);
            padding: 10px;
        }

        .button-call-end {
            flex-grow: 1;
            padding: 10px;
            text-align: center;
            color: #fff;
            background-color: red;
            text-transform: uppercase;
        }
    </style>
    <ion-content padding="false" overflow-scroll="true">
        <div class="vertical-container">
            <div id="videoContainer"></div>
            <div class="buttons">
                <ion-button class="button-call-end" ng-click="endCall()">End Call</ion-button>
            </div>
        </div>
    </ion-content>
</ion-view>